@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar {
    background-color:#fcec03;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;

    &__mobile {
      background-color:#fcec03;
      padding: 0 20px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      height: 45px;
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 2;
    }

    & h1 {
        font-size: large;
        color: black;
      }
    
     &__links {
        margin-left: auto;
      } 

    &__links-mobile {
      width: 100%;
    } 

    & a {
        font-weight: 500;
        color: black;
        margin-left: 16px;
        text-decoration: none;
        padding: 6px;

        &:hover {
            color: #d1d1d1;
        }
      }

      &__a-home-mobile {
        padding: 60px;
      }

      &__a-liked-mobile {
        padding: 60px;
      }
  }
  